<div class="home_title">
  <h2>Добро пожаловать на сайт <span>элитных знакомств</span></h2>
  <div class="socials">
    <ul>
      <li>
        <a target="_blank" href="">
          <img src="{{ asset('img/social_icons/rss.png') }}" alt="" title="">
        </a>
      </li>      
      <li>
        <a target="_blank" href="">
          <img src="{{ asset('img/social_icons/twitter.png') }}" alt="" title="">
        </a>
      </li>      
      <li>
        <a target="_blank" href="">
          <img src="{{ asset('img/social_icons/facebook.png') }}" alt="" title="">
        </a>
      </li>      
      <li>
        <a target="_blank" href="">
          <img src="{{ asset('img/social_icons/google.png') }}" alt="" title="">
        </a>
      </li>      
      <li>
        <a target="_blank" href="">
          <img src="{{ asset('img/social_icons/vimeo.png') }}" alt="" title="">
        </a>
      </li>           
    </ul>
  </div>
</div>
