<div class="row menu">
  <div class="menucontainer">
    <ul id="main_menu" class="main_menu">
      <li id="menu-item-14" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-14">
        <a class="selected" href="{{ path('VetalSiteBundle_homepage') }}">Главная</a>
      </li>
      <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="{{ path('VetalSiteBundle_homepage') }}">О нас</a></li>
      <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="{{ path('VetalSiteBundle_homepage') }}" class="                            ">Галерея</a>
        <ul class="sub-menu" style="overflow: hidden; display: block; height: 0px; z-index: 60; opacity: 0.0125; ">
          <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a href="{{ path('VetalSiteBundle_homepage') }}">Full width page</a></li>
          <li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="{{ path('VetalSiteBundle_homepage') }}">Videos</a></li>
        </ul>
      </li>
      <li id="menu-item-15" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-15"><a href="{{ path('VetalSiteBundle_homepage') }}">Наши услуги</a></li>
      <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="{{ path('VetalSiteBundle_homepage') }}">Поиск</a></li>
      <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a href="{{ path('VetalSiteBundle_homepage') }}">Новости</a></li>
      <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a href="{{ path('VetalSiteBundle_homepage') }}">Контакты</a></li>
    </ul>
  </div>
</div>
