{% extends '::base.html.twig' %}

{% block title %} Категория {{category.name}} {% endblock %}

{% block header %} Категория {{category.name}} {% endblock %}

{% block main %}  

  <h2 class="well" style="color: #{{ category.color }} ">{{ category.name }} ( {{ category.id }} )</h2>

{% endblock %}


